google-api-python-client
httplib2
oauth2client
pyasn1
pyasn1-modules
rsa
six
SpeechRecognition
tqdm
uritemplate
nltk
bs4
lxml
ffmpeg-python
pydub
python-magic
numpy
requests
opencv-python
pytesseract
flask
progressbar
waitress
html5lib
pandas
sklearn
networkx
selenium
readability-lxml
textract
flask_httpauth
flask_restful
psutil
gunicorn
